alembic==1.7.5
bcrypt==3.2.0
blinker==1.4
cffi==1.15.0
click==7.1.2
coverage==6.2
cryptography==36.0.1
Flask==2.0.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
Flask-User==1.0.1.5
Flask-WTF==0.14.2
greenlet==1.1.2
importlib-metadata==4.9.0
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.0
Mako==1.1.6
MarkupSafe==2.0.0rc2
passlib==1.7.4
py==1.11.0
pycparser==2.21
pytest==3.0.5
pytest-cov==2.4.0
six==1.16.0
SQLAlchemy==1.4.28
Werkzeug==2.0.0
WTForms==3.0.0
zipp==3.6.0
